.Media_Container{
    font-family: "Poppins", sans-serif;
    background-color: #f5f5f5;
    padding: 5%;
    border-radius: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    margin: auto;
}

.Media_Container button{
    border: 1px solid #090909;
    border-radius: 2px;
    background-color: #f5f5f5;
}

.Media_Container button:hover{
    transition: 0.5s;
    background-color: #090909;
    color: #f5f5f5;
}